/* nunito-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/nunito-v31-latin-500.woff2") format("woff2");
}

/* nunito-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/nunito-v31-latin-600.woff2") format("woff2");
}

/* nunito-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/nunito-v31-latin-700.woff2") format("woff2");
}

/* nunito-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/nunito-v31-latin-800.woff2") format("woff2");
}

/* nunito-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/nunito-sans-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: #f6f5f1;
}

.siteLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 20px;
}

.pagesHome {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 10rem;
}

.homeBtn {
  margin-left: 25rem;
}

.active {
  text-decoration: underline;
  text-decoration-color: #fe9f6b;
}

a {
  text-decoration: none;
}

.home,
.about,
.contact {
  width: 49px;
  height: 27px;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 18px;
  color: #163a34;
}

.btn {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  background-color: #163a34;
  color: #ffffff;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 15px;
  border: none;
}

.homeBtn {
  color: #ffffff;
}

.head__btn {
  color: #ffffff;
}

.burger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 769px) {
  .pagesHome {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 70px;
    left: 4rem;
    right: 0;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 231px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .pagesHome.open {
    display: flex;
  }

  .burger {
    display: block;
    margin-right: 5rem;
  }

  .homeBtn {
    width: 450px;
    margin-top: 10px;
    margin-right: 25rem;
  }
}

@media (max-width: 690px) {
  .pagesHome {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 70px;
    left: 4rem;
    right: 0;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 231px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .pagesHome.open {
    display: flex;
  }

  .burger {
    display: block;
    margin-right: 5rem;
  }

  .homeBtn {
    width: 350px;
    margin-top: 10px;
    margin-right: 25rem;
  }
}

@media (max-width: 576px) {
  .pagesHome {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 75px;
    left: 7rem;
    right: 0;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 231px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .pagesHome.open {
    display: flex;
  }

  .burger {
    display: block;
    margin-right: 5rem;
  }

  .homeBtn {
    width: 180px;
    margin-top: 10px;
    margin-right: 25rem;
  }
}

@media (max-width: 410px) {
  .pagesHome {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 75px;
    left: 7rem;
    right: 0;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 130px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .pagesHome.open {
    display: flex;
  }

  .burger {
    display: block;
    margin-right: 5rem;
  }

  .homeBtn {
    width: 130px;
    margin-top: 10px;
    margin-right: 25rem;
  }
}

.homeTitle {
  width: 850px;
  height: 79px;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 72px;
  color: #163a34;
  margin-left: auto;
  margin-right: auto;
}

.colText {
  position: relative;
}

.colText::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 100%;
  height: 0.5em;
  background-color: #fe9f6b;
  opacity: 40%;
  border-radius: 4px;
  z-index: -1;
}

.homeDesc {
  width: 600px;
  height: 60px;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 20px;
  color: #395852;
  line-height: 1.5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn__main {
  display: block;
  margin: 4rem auto 0 auto;
}

@media (max-width: 769px) {
  .homeTitle {
    width: 708px;
    height: 70px;
    font-weight: 800;
    font-size: 45px;
  }
  .homeDesc {
    width: 550px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    margin-right: 5rem;
  }
}

@media (max-width: 690px) {
  .homeTitle {
    width: 708px;
    height: 70px;
    font-weight: 800;
    font-size: 45px;
  }
  .homeDesc {
    width: 550px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    margin-right: 5rem;
  }
  .burger {
    margin-left: 10rem;
  }
}

@media (max-width: 501px) {
  .homeTitle {
    width: 650px;
    height: 70px;
    font-weight: 800;
    font-size: 35px;
  }
  .homeDesc {
    width: 450px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    margin-right: 15rem;
  }
  .burger {
    margin-left: 10rem;
  }
}

@media (max-width: 401px) {
  .homeTitle {
    width: 300px;
    height: 114px;
    font-weight: 800;
    font-size: 35px;
  }
  .homeDesc {
    width: 343px;
    height: 90px;
    font-size: 15px;
    text-align: start;
    margin-left: 1.2rem;
    margin-top: -2rem;
  }
  .btn__main {
    margin-left: 1rem;
    margin-top: -1rem;
  }
  .pagesHome {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 75px;
    left: 18rem;
    right: 0;
  }
}

.homePat {
  position: relative;
  right: 8rem;
  bottom: 5rem;
  z-index: -9;
}

.mainPic {
  height: 550px;
  border-radius: 25px;
  background-color: #ffffff;
  position: relative;
  top: 8rem;
}

.main__hero__img {
  width: 1140px;
  height: 530px;
  margin-left: 0.6rem;
  border-radius: 12px;
  position: relative;
  bottom: 38.3rem;
}

.mbpattern {
  display: none;
}

@media (max-width: 765px) {
  .mainPic {
    width: 670px;
    height: 500px;
  }
  .main__hero__img {
    width: 650px;
    height: 473px;
    object-fit: cover;
    margin-top: 39rem;
  }
  .homePat {
    display: none;
  }
  .mbpattern {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  .mainPic {
    width: 520px;
    height: 500px;
    position: relative;
    right: 1.5rem;
  }
  .main__hero__img {
    width: 500px;
    height: 473px;
    object-fit: cover;
    margin-top: 39rem;
  }
  .homePat {
    display: none;
  }
  .mbpattern {
    display: inline-block;
  }
}

.main {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.mainTitle {
  width: 1192px;
  height: 58px;
  font-family: "Nunito";
  font-size: 48px;
  color: #163a34;
  text-align: center;
  margin-top: 7rem;
}

.wholeIcon {
  margin-top: 4.8rem;
}

.wholeTitle {
  width: 376px;
  height: 42px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 32px;
  color: #163a34;
}

.wholeDesc {
  width: 350px;
  height: 60px;
  font-family: "Nunito Sans";
  font-weight: 500;
  color: #395852;
}

.mimimumIcon {
  position: relative;
  left: 400px;
  bottom: 215px;
}

.minimumTitle {
  width: 376px;
  height: 42px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 32px;
  color: #163a34;
  position: relative;
  left: 400px;
  bottom: 230px;
}

.minimumDesc {
  width: 320px;
  height: 60px;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 15px;
  color: #395852;
  position: relative;
  left: 400px;
  bottom: 229px;
}

.searchIcon {
  position: relative;
  left: 820px;
  bottom: 440px;
}

.searchTitle {
  width: 376px;
  height: 42px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 32px;
  color: #163a34;
  position: relative;
  left: 830px;
  bottom: 460px;
}

.searchDesc {
  width: 376px;
  height: 60px;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 15px;
  color: #395852;
  position: relative;
  left: 830px;
  bottom: 460px;
}

@media (max-width: 761px) {
  .mainTitle {
    width: 704px;
    height: 58px;
    font-size: 48px;
    display: flex;
    justify-content: start;
  }
  .wholePost {
    margin-top: -3rem;
  }
  .wholeTitle {
    width: 704px;
    height: 42px;
    font-size: 32px;
    margin-top: 0.5rem;
  }
  .wholeDesc {
    width: 704px;
    height: 30px;
    font-size: 20px;
    margin-top: -1.2rem;
  }

  .mimimumIcon {
    margin-top: 15rem;
    margin-left: -25rem;
  }
  .minimumTitle {
    margin-left: -25rem;
  }
  .minimumDesc {
    width: 704px;
    height: 30px;
    font-size: 20px;
    color: #163a34;
    margin-left: -25rem;
    margin-top: -0.5rem;
  }
  .searchIcon {
    margin-top: 15rem;
    margin-left: -52rem;
  }
  .searchTitle {
    margin-left: -52.5rem;
  }
  .searchDesc {
    width: 704px;
    height: 30px;
    font-size: 20px;
    margin-left: -52.5rem;
  }
}

.secTitle {
  width: 390px;
  height: 65px;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 48px;
  color: #163a34;
}

.secHr {
  position: relative;
  bottom: 20rem;
}

.secTitle {
  position: relative;
  bottom: 5rem;
}

.secDesc {
  width: 509px;
  height: 90px;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 20px;
  color: #395852;
  position: relative;
  bottom: 5rem;
}

.secDescCol {
  font-family: "Nunito";
  font-weight: 700;
}

.secDescText {
  width: 102px;
  height: 12px;
  border-radius: 3px;
  border: none;
  background-color: #fe9f6b;
  position: relative;
  bottom: 9.6rem;
  left: 4.8rem;
  z-index: -1;
}

.realLife {
  position: relative;
  bottom: 7rem;
}

.secImg {
  width: 635px;
  height: 450;
  border-radius: 25px;
  gap: 10px;
  position: relative;
  left: 37rem;
  bottom: 22rem;
}

.footerImg {
  height: 250px;
  position: relative;
  right: 5rem;
  object-fit: cover;
  z-index: -1;
  margin-top: -15rem;
  margin-bottom: 5rem;
  z-index: -1;
}

.footerTitle {
  width: 1192px;
  height: 65px;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 48px;
  color: #163a34;
}

.footerDesc {
  width: 1192px;
  height: 30px;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 20px;
  color: #395852;
}

.footerItems {
  text-align: center;
  position: relative;
  bottom: 20rem;
}

.authTitle {
  width: 170px;
  height: 24px;
  font-family: "Nunito Sans";
  font-size: 16px;
  color: #163a34;
  margin-top: -10rem;
  margin-bottom: 3rem;
  margin-left: -4.8rem;
}

.authApp {
  display: flex;
  justify-content: end;
  gap: 24px;
  position: relative;
  left: 6rem;
  bottom: 3rem;
}

.footerTabImg {
  display: none;
}

@media (max-width: 761px) {
  .secImg {
    position: relative;
    top: 5rem;
    margin-left: -37rem;
  }
  .footer {
    position: relative;
    top: 18rem;
  }
  .footerTitle {
    width: 704px;
    height: 58px;
    font-size: 48px;
    position: relative;
    bottom: 5rem;
  }
  .footerDesc {
    position: relative;
    bottom: 5rem;
    right: 15rem;
  }
  .footerImg {
    display: none;
  }
  .footerTabImg {
    width: 680px;
    display: inline-block;
    position: relative;
    bottom: 13rem;
    right: 0.5rem;
  }
  .authTitle {
    margin-left: 1rem;
  }
  .authApp {
    margin-right: 8rem;
    margin-top: -2rem;
  }
}
